body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    text-align: center;
}

#jokeButton {
    padding: 20px 40px;
    margin-bottom: 40px;
    font-size: 24px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: margin-bottom 0.3s ease;
}

#joke {
    height: 26px;
    margin-bottom: 26px;
    transition: margin-bottom 0.3s ease;
}
